* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('movieposter.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 10px;
  text-align: center;
}

h1 {
  color: black; 
  font-size: 2rem;
  margin-bottom: 20px;
}

div {
  background-color: rgba(237, 209, 209, 0.8); 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

input[type="text"] {
  padding: 12px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 350px;
  margin-bottom: 20px;
  outline: none;
}

input[type="text"]:focus {
  border-color: #4caf50;
}

button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
  font-size: 16px;
  text-align: left;
}

img.poster {
  margin-top: 20px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  body {
    padding: 5px;
  }

  div {
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  input[type="text"], button {
    font-size: 14px;
    width: 100%;
  }

  button {
    padding: 10px;
  }
}
